@charset "UTF-8";

#main { padding-top: 181px; }
/* COMMON */
.title { display: flex; align-items: flex-end; justify-content: space-between; }
.title__block { display: flex; align-items: center; gap: 7px; }
.title__icon { display: block; width: 5px; height: 22px; background: #457FEE; border-radius: 20px; }
.title__txt { font-size: 21px; font-weight: 700; line-height: 30px; color: #000; }
.title__link { display: flex; align-items: center; gap: 8px; font-size: 14px; font-weight: 500; line-height: 20px; }
.title__link img { display: block; width: 15px; height: 12px; object-fit: contain; }
.morebox { display: flex; justify-content: center; align-items: center; margin-top: 20px; }
.more { display: inline-flex; justify-content: center; align-items: center; gap: 6px; padding: 7px 15px; border: 1px solid #e0e0e0; border-radius: 20px; font-size: 12px; line-height: 17px; cursor: pointer; transition: all 0.3s; }
.more:hover { opacity: 0.6; }
.more img { display: block; width: 12px; height: 6px; object-fit: contain; opacity: 0.4; margin-bottom: -3px; }
.tag { display: flex; align-items: center; gap: 6px; flex-wrap: wrap; }
.tag__link { display: flex; align-items: center; font-size: 12px; font-weight: 500; line-height: 17px; color: #457FEE; padding: 3px 8px; background: rgba(69, 127, 238, 0.12); border-radius: 5px; transition: all .3s; }
.tag__link:hover { background: #457FEE; color: #fff; }

/* VISUAL */
.info { background: linear-gradient(180deg, #000000 0%, #282828 100%); padding: 60px 0; }
.info__inner { max-width: 1320px; padding: 0 20px; margin: 0 auto; }
.info__top { display: flex; flex-direction: column; align-items: flex-start; gap: 10px; margin-bottom: 20px; }
.info__state { display: flex; align-items: center; padding: 9px 14px; border: 1px solid #CB444A; border-radius: 50px; font-size: 13px; font-weight: 700; line-height: 1.6; color: #CB444A; letter-spacing: 0.5px; }
.info__state span { padding: 0 4px; }
.info__con { width: 100%; display: flex; justify-content: space-between; align-items: flex-end; }
.info__tit { font-size: 42px; font-weight: 700; color: #FFF; letter-spacing: -0.01em; line-height: 1.4; }
.info__intrs { display: flex; align-items: center; gap: 10px; padding-bottom: 5px; }
.info__heart { display: block; width: 18px; padding-top: 3px; }
.info__intrs-count { font-size: 20px; line-height: 1.6; color: #fff; }
.banner { display: flex; gap: 20px; height: 426px; margin-bottom: 30px; }
.banner__list { width: 324px; height: 100%; border-radius: 14px; overflow: hidden; position: relative; }
.banner__item { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.banner__link { display: block; width: 100%; height: 100%; }
.banner__link img { display: block; width: 100%; height: 100%; object-fit: cover; }
.video { flex: 1; height: 100%; border-radius: 14px; overflow: hidden; position: relative; }
.video__item { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.video__item iframe { width: 100%; height: 100%; }
.video__thum { display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; }
.video__play { display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; border-radius: 50%; background: rgba(255,255,255,.4); position: absolute; bottom: 30px; left: 30px; cursor: pointer; border: 0; padding: 0; }
.video__play img { display: block; width: 17px; position: relative; left: 3px; }
.video__pause { display: none; justify-content: center; align-items: center; width: 60px; height: 60px; border-radius: 50%; background: rgba(255,255,255,.4); position: absolute; bottom: 30px; left: 30px; cursor: pointer; border: 0; padding: 0; }
.video__pause span { display: block; width: 18px; height: 20px; border-left: 6px solid #fff; border-right: 6px solid #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.keyword { border-bottom: 1px solid #7E7E7E; margin-bottom: 30px; }
.keyword__list { display: flex; gap: 10px; flex-wrap: wrap; padding-bottom: 30px; }
.keyword__link { display: flex; justify-content: center; align-items: center; padding: 6px 20px; border: 1px solid #E9E9E9; border-radius: 25px; font-size: 14px; line-height: 20px; text-align: center; color: #fff; transition: all 0.3s; }
.keyword__link--gray { width: 36px; height: 36px; padding: 0; background: #393939; }
.keyword__link:hover { opacity: .6; }

/* 웨비나 일정 */
.schdl { background: #F7F7F7; padding: 60px 0 70px; }
.schdl__inner { max-width: 1427px; padding: 0 74px; margin: 0 auto; }
.calendar { display: flex; align-items: center; gap: 23px; padding-top: 26px; }
.calendar__select { font-size: 24px; font-weight: 700; color: #000; line-height: 35px; border: 0; padding-right: 20px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('../images/icons/select-icon.png') no-repeat 100% 50%/12px auto; outline: none; cursor: pointer; }
.calendar__list { flex: 1; display: flex; align-items: center; gap: 12px; overflow-x: auto; -ms-overflow-style: none; scrollbar-width: none;  position: relative; }
.calendar__list::-webkit-scrollbar { display: none; }
.calendar__list::after { content: ''; display: block; width: 36px; height: 48px; background: linear-gradient(90deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 0.9) 100%); position: absolute; top: 50%; right: 0; transform: translateY(-50%); }
.calendar__item { display: flex; align-items: center; justify-content: center; width: 52px; min-width: 52px; height: 52px; font-size: 14px; font-weight: 700; line-height: 20px; border-radius: 50%; cursor: pointer; transition: all .3s; }
.calendar__item:hover { opacity: 0.4; border: 1px solid #000; }
.calendar__item--focused { border: 1px solid #000; }
.schdl__slide { position: relative; }
.schdl__con { padding-top: 20px; position: relative; overflow: hidden; height: 235px; }
.schdl__con::before { content: ''; display: block; width: 100%; height: 1px; background: #e0e0e0; position: absolute; top: 20px; left: 0; }
.schdl__con::after { content: ''; display: block; width: 160px; height: 283px; background: linear-gradient(90deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 0.9) 100%); position: absolute; top: 0; right: 0; z-index: 2; }
.schdl__list { display: flex; gap: 60px; position: absolute; top: 20px; left: 0; }
.schdl__link { display: block; padding-top: 30px; min-width: 370px; max-width: 370px; width: 370px; position: relative; transition: all .3s; }
.schdl__link::before { content: ''; display: block; width: 6px; height: 6px; background: #000; border-radius: 50%; position: absolute; top: -3px; left: 0; }
.schdl__link:hover { padding-top: 20px; }
.schdl__link:hover::before { background: #457FEE; }
.schdl__link:hover .schdl__date { opacity: 0.6; }
.schdl__link:hover .schdl__fig { opacity: 0.6; }
.schdl__date { display: flex; align-items: center; gap: 6px; font-weight: 500; font-size: 12px; line-height: 17px; margin-bottom: 18px; transition: all .3s; }
.schdl__dday { display: flex; align-items: center; line-height: 1; font-weight: 700; color: #457FEE; background: rgba(69, 127, 238, 0.12); border-radius: 15px; padding: 3px 6px; }
.schdl__dday--red { color: #EE4545; background: rgba(238, 69, 69, 0.12); }
.schdl__fig { display: flex; gap: 16px; transition: all .3s; }
.schdl__cap { display: flex; flex-direction: column; }
.schdl__tit { font-weight: 700; font-size: 20px; line-height: 29px; margin-bottom: 6px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.schdl__time { font-size: 12px; line-height: 17px; color: #888; margin-bottom: 18px; }
.schdl__hash { font-size: 12px; line-height: 1.4; font-weight: 500; color: #457FEE; }
.schdl__img { display: block; width: 180px; height: 145px; object-fit: cover; border-radius: 14px; background: #d9d9d9; }
.schdl__prev { display: block; padding: 0; margin: 0; border: 0; background: transparent; width: 24px; height: 48px; cursor: pointer; position: absolute; top: 50%; right: calc(100% + 30px); transform: translateY(-50%); }
.schdl__prev img { display: block; width: 100%; height: 100%; object-fit: contain; }
.schdl__next { display: block; padding: 0; margin: 0; border: 0; background: transparent; width: 24px; height: 48px; cursor: pointer; position: absolute; top: 50%; left: calc(100% + 30px); transform: translateY(-50%) rotate(180deg); }
.schdl__next img { display: block; width: 100%; height: 100%; object-fit: contain; }

/* CONTENTS */
.contents__inner { max-width: 1320px; padding: 0 20px; margin: 0 auto; display: flex; }
.contents__left { flex: 1; width: 100%; max-width: 964px; padding-right: 44px; }

/* Q&A */
.qna { padding-top: 60px; }
.qna--mgb60 { margin-bottom: 60px; }
.qna-tag { padding-top: 20px !important; margin-bottom: 20px; overflow: hidden; position: relative; }
.qna-tag::after { content: ''; display: block; width: 34px; height: 34px; background: linear-gradient(270deg, #FFFFFF 30.56%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%); position: absolute; bottom: 0; right: 0; z-index: 2; }
.qna-tag__list { display: flex; align-items: center; }
.qna-tag__item { width: auto !important; }
.qna-tag__link { display: flex; align-items: center; justify-content: center; font-size: 12px; line-height: 18px; color: #6c6c6c; text-align: center; padding: 7px 15px; border: 1px solid #DEDEDE; border-radius: 20px; min-width: 67px; white-space: nowrap; transition: all .3s; }
.qna-tag__link--focused { border: 1px solid #457FEE; color: #457FEE; }
.qna-tag__link:hover { opacity: 0.4; }
.qna__list { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }
.qna__item { border: 1px solid #E0E0E0; border-radius: 14px; transition: all .3s; position: relative; top: 0; }
.qna__item:hover { border: 1px solid #000; top: -5px; }
.qna__item:hover .qna__div { opacity: 0.6; }
.qna__div { display: block; padding: 20px 20px 24px; transition: all 0.3s; }
.qna__tit { display: flex; gap: 12px; font-size: 16px; line-height: 1.6; font-weight: 700; margin-bottom: 14px; }
.qna__icon { font-size: 20px; color: #457FEE; line-height: 29px; }
.qna__tit a { padding-top: 4px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.qna__line { padding: 0 10px; }
.qna__line span { display: block; width: 100%; height: 1px; background: #E0E0E0; }
.qna__answer { display: flex; gap: 15px; padding-top: 14px; }
.qna__icon2 { font-size: 20px; font-weight: 700; line-height: 29px; color: #bbb; }
.qna__txt { font-size: 14px; line-height: 1.5; color: #666; padding-top: 1px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; margin-bottom: 16px; }
.qna__info { display: flex; align-items: center; justify-content: space-between; margin-top: 18px; }
.qna__data { display: flex; align-items: center; gap: 10px; }
.qna__count { display: flex; align-items: center; gap: 5px; font-size: 12px; font-weight: 500; line-height: 1.4; color: #666; }
.qna__count img { display: block; width: 14px; height: 14px; object-fit: contain; }
.qna__time { font-size: 12px; line-height: 17px; color: #a9a9a9; }
.qna__people { display: flex; align-items: center; gap: 10px; }
.qna__group { display: flex; align-items: center; }
.qna__group img { display: block; width: 24px; height: 24px; border-radius: 50%; }
.qna__group img:nth-child(n+2) { margin-left: -10px; }
.qna__selection { display: flex; align-items: center; gap: 4px; font-size: 12px; line-height: 1.6; font-weight: 500; color: #457FEE; }
.qna__selection img { display: block; width: 14px; height: 14px; object-fit: contain; }

/* QUESTION */
.qstn { padding-top: 60px; margin-bottom: 60px; }
.qstn__block { display: flex; align-items: center; padding: 32px 302px 32px 40px; border-radius: 16px; background: #457FEE; position: relative; transition: all 0.3s; }
.qstn__block:hover { opacity: 0.6; }
.qstn__tit { display: inline-block; font-size: 22px; font-weight: 700; line-height: 32px; color: #fff; vertical-align: middle; }
.qstn__tit span { display: inline-block; position: relative; }
.qstn__tit span b { display: inline-block; position: relative; z-index: 2; }
.qstn__tit span::before { content: ''; display: block; width: 100%; height: 11px; background: #FFEA32; opacity: 0.4; position: absolute; bottom: -4px; left: 0; z-index: 1; }
.qstn__icon { display: inline-block; width: 26px; height: 21px; object-fit: contain; margin-bottom: -2px; }
.qstn__bg { display: block; width: 160px; height: 126px; object-fit: contain; position: absolute; bottom: 0; right: 133px; }

/* FREE BOARD */
.free { margin-bottom: 60px; }
.free__list { display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; padding-top: 20px; }
.free__item { border: 1px solid #e0e0e0; border-radius: 11px; padding: 26px 20px; transition: all 0.3s; position: relative; top: 0; }
.free__item:hover { border: 1px solid #000; top: -5px; }
.free__item:hover .free__div { opacity: 0.6; }
.free__div { transition: all 0.3s; }
.free__tit { margin-top: 10px; font-size: 16px; font-weight: 700; line-height: 23px; margin-bottom: 20px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.free__info { display: flex; align-items: center; justify-content: space-between; }
.free__time { font-size: 12px; line-height: 17px; color: #a9a9a9; }
.free__img { display: block; width: 24px; height: 24px; border-radius: 50%; object-fit: cover; }

/* VOD */
.vod { margin-bottom: 60px; }
.vod__list { display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; padding-top: 20px; }
.vod__item { padding-top: 128px; position: relative; }
.vod__top { width: 100%; height: 118px; border-radius: 14px; overflow: hidden; position: absolute; top: 0; left: 0; transition: all 0.3s; }
.vod__top::before { content: ''; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.16); position: absolute; top: 0; left: 0; z-index: 2; }
.vod__top:hover { height: 100%; }
.vod__top:hover::before { background: rgba(0, 0, 0, 0.6); }
.vod__top:hover .vod__time { display: none; }
.vod__top:hover .plyls { height: 100%; padding: 12px 10px; overflow: visible; }
.vod__thum { display: block; width: 100%; height: 100%; object-fit: cover; position: relative; z-index: 1; }
.vod__time { display: flex; align-items: center; font-size: 12px; line-height: 1.4; font-weight: 500; color: #fff; letter-spacing: -0.01em; height: 22px; padding: 0 9px; background: rgba(0,0,0,0.6); border-radius: 15px; position: absolute; right: 10px; bottom: 10px; z-index: 3; }
.vod__tit { display: block; font-size: 16px; font-weight: 700; line-height: 1.4; margin-bottom: 20px; }
.plyls { display: block; width: 100%; height: 0; padding: 0; overflow: hidden; transition: all 0.3s; position: absolute; top: 0; left: 0; }
.plyls::after { content: ''; display: block; width: 100%; height: 42px; background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 0.6) 68.75%); position: absolute; bottom: 0; left: 0; z-index: 3; }
.plyls__list { display: block; width: 100%; height: 100%; overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none; position: relative; z-index: 2; }
.plyls__list::-webkit-scrollbar { display: none; }
.plyls__link { display: flex; justify-content: space-between; align-items: center; padding: 8px 10px; border-radius: 10px; font-size: 12px; font-weight: 500; line-height: 1.4; letter-spacing: -0.01em; color: #fff; transition: all 0.3s; }
.plyls__link:hover { background: rgba(255,255,255,.6); color: #000; }

/* ASIDE */
.aside { width: 316px; border-left: 1px solid #e0e0e0; padding-left: 36px; padding-top: 60px; }

/* TAG TOP 20 */
.tagtop { margin-bottom: 37px; }
.tagtop__list { display: flex; align-items: center; gap: 9px; flex-wrap: wrap; padding-top: 17px; }
.tagtop__link { display: flex; align-items: center; border: 1px solid #000; border-radius: 20px; padding: 7px 18px; font-size: 12px; line-height: 18px; cursor: pointer; transition: all 0.3s; }
.tagtop__link:hover { opacity: 0.4; }

/* POPULAR VOD */
.ppl { margin-bottom: 37px; }
.ppl__list { display: flex; flex-direction: column; gap: 20px; padding-top: 16px; }
.ppl__link { display: block; width: 100%; height: 164px; border-radius: 14px; position: relative; }
.ppl__link::before { content: ''; display: block; width: 100%; height: 100%; border-radius: 14px; background: rgba(0,0,0,0.36); position: absolute; top: 0; left: 0; z-index: 1; }
.ppl__mark { display: block; width: 26px; height: 32px; text-align: center; padding-top: 3px; font-size: 13px; font-weight: 700; line-height: 19px; color: #fff; background-image: url('../images/icons/bookmark-icon.png'); background-repeat: no-repeat; background-size: contain; position: absolute; top: -2px; left: 14px; z-index: 2; }
.ppl__thum { display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 14px; }
.ppl__play { display: block; width: 38px; height: 38px; border-radius: 50%; background: rgba(255,255,255,0.4); position: absolute; top: 20px; right: 20px; z-index: 2; }
.ppl__play-icon { display: block; width: 12px; height: 17px; object-fit: contain; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); margin-left: 2px; }
.ppl__tit { font-size: 16px; font-weight: 700; line-height: 1.4; letter-spacing: -0.01em; color: #fff; width: 100%; padding: 20px; position: absolute; bottom: 0; left: 0; z-index: 2; }

/* TEMPLE */
.temple__slide { width: 100%; height: 356px; border-radius: 14px; margin-top: 16px; position: relative; }
.temple__list { width: 100%; height: 100%; position: relative; border-radius: 14px; overflow: hidden; }
.temple__item { width: 100%; height: 100%; position: absolute; top: 0; left: 100%; z-index: 1; }
.temple__item:first-child { left: 0; }
.temple__link { width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; background: linear-gradient(180deg, #00C868 0%, #3BC181 100%); }
.temple__imgbox { width: 128px; height: 128px; position: relative; z-index: 1; margin-bottom: 12px; }
.temple__imgbox img { display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%; position: relative; z-index: 4; }
.temple__imgbox img + i { content: ''; display: block; width: 147px; height: 147px; border-radius: 50%; background: rgba(255, 255, 255, 0.4); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 3; opacity: 0.23; }
.temple__imgbox::before { content: ''; display: block; width: 197px; height: 197px; border-radius: 50%; background: rgba(255, 255, 255, 0.4); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 2; opacity: 0.12; }
.temple__imgbox::after { content: ''; display: block; width: 251px; height: 251px; border-radius: 50%; background: rgba(255, 255, 255, 0.4); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1; opacity: 0.1; }
.temple__name { font-size: 16px; font-weight: 700; line-height: 23px; color: #fff; margin-bottom: 2px; }
.temple__job { font-size: 13px; line-height: 19px; color: #fff; margin-bottom: 10px; }
.temple__lank { display: flex; gap: 10px; height: 23px; background: rgba(255, 255, 255, 0.15); border-radius: 9px; padding: 0 26px 0 14px; margin-bottom: 17px; }
.temple__medal { display: block; width: 20px; padding-top: 7.5px; position: relative; }
.temple__medal img { display: block; width: 100%; position: absolute; top: 0; left: 0; z-index: 1; }
.temple__level { display: flex; justify-content: center; align-items: center; width: 20px; min-width: 20px; height: 20px; border-radius: 50%; background: #EDC748; position: relative; z-index: 2; font-size: 12px; font-weight: 700; line-height: 18px; color: #fff; }
.temple__count { display: block; font-size: 16px; font-weight: 700; line-height: 23px; color: #fff; }
.temple__info { display: flex; align-items: center; }
.temple__dl { display: flex; flex-direction: column; align-items: center; gap: 2px; padding: 0 16px; }
.temple__dl:first-child { border-right: 1px solid rgba(255, 255, 255, 0.1); }
.temple__dd { font-size: 16px; font-weight: 500; line-height: 23px; color: #fff; }
.temple__dt { font-size: 12px; font-weight: 500; line-height: 17px; letter-spacing: -0.08em; color: rgba(255, 255, 255, 0.7); }
.temple__btnbox { display: flex; align-items: center; gap: 4px; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 2; }
.temple__btn { display: block; width: 4px; height: 4px; border-radius: 50%; background: rgba(255, 255, 255, 0.5); padding: 0; margin: 0; border: 0; }
.temple__btn--focused { background: #fff; }
.temple__left { display: block; width: 36px; height: 100%; position: absolute; top: 0; right: 100%; z-index: -1; opacity: 0; transition: all 0.3s; }
.temple__prev { display: block; padding: 0; margin: 0; border: 0; background: transparent; width: 19px; height: 38px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); cursor: pointer; }
.temple__prev img { display: block; width: 100%; height: 100%; object-fit: contain; }
.temple__right { display: block; width: 36px; height: 100%; position: absolute; top: 0; left: 100%; z-index: -1; opacity: 0; transition: all 0.3s; }
.temple__next { display: block; padding: 0; margin: 0; border: 0; background: transparent; width: 19px; height: 38px; position: absolute; top: 50%; right: 0; transform: translateY(-50%) rotate(180deg); cursor: pointer; }
.temple__next img { display: block; width: 100%; height: 100%; object-fit: contain; }
.temple__slide:hover .temple__left { z-index: 1; opacity: 1; }
.temple__slide:hover .temple__right { z-index: 1; opacity: 1; }

/* SEARCH BOX */
.srchbx { background: linear-gradient(180deg, #000000 0%, #282828 100%); }
.srchbx__inner { max-width: 1320px; padding: 60px 20px; margin: 0 auto; }
.srchbx__form { width: 100%; height: 64px; position: relative; padding: 18px 65px 18px 40px; border: 1px solid #7E7E7E; border-radius: 55px; background: #353535; margin-bottom: 30px; }
.srchbx__btn { display: block; width: 18px; height: 18px; margin: 0; padding: 0; border: 0; background: transparent; position: absolute; top: 50%; right: 40px; transform: translateY(-50%); }
.srchbx__btn img { display: block; width: 100%; height: 100%; object-fit: contain; }
.srchbx__input { display: block; height: 100%; font-size: 15px; line-height: 1.6; letter-spacing: -0.01em; color: #fff; }
.tagify { flex-wrap: nowrap !important; gap: 15px; width: 100% !important; height: 100% !important; border: 0 !important; --tag-pad: 1px !important; --tag-bg: #353535 !important; --tag-hover: transparent !important; --tag-inset-shadow-size: 0 !important; --tag-remove-btn-bg--hover: nuset !important; --placeholder-color: #a9a9a9 !important; --placeholder-color-focus: #a9a9a9 !important; }
.tagify__input { height: 100%; padding: 0 !important; margin: 0 !important; padding-top: 3px !important; color: #fff !important; }
.tagify__tag { margin: 0 !important; height: 100%; font-size: 14px; line-height: 20px; border: 1px solid #646464; border-radius: 25px; overflow: hidden; padding: 0 12px; }
.tagify__tag>div>* { white-space: nowrap !important; font-size: 14px; color: #ffffff; line-height: 20px; margin-right: 7px; }
.tagify__tag__removeBtn::after { color: #fff; font-size: 8px; }
.srchbx__list { display: flex; align-items: center; gap: 10px; flex-wrap: wrap; padding-top: 30px; border-top: 1px solid #7E7E7E; }
.srchbx__list--br0 { border-top: 0; }
.srchbx__link { display: inline-flex; align-items: center; padding: 8px 20px; border: 1px solid #e9e9e9; border-radius: 25px; cursor: pointer; font-size: 14px; line-height: 20px; color: #fff; transition: all 0.3s; }
.srchbx__link:hover { opacity: 0.6; }
.srchbx__link--gray { padding: 0; width: 36px; height: 36px; background: #393939; justify-content: center; }
.tagify__tag__removeBtn { margin: 0 !important; font: unset !important; width: 9px !important; height: 10px !important; line-height: 8px !important; }

/* 사이드 웨비나 일정 */
.wbnr__cal { display: flex; align-items: center; gap: 23px; padding-top: 26px; padding-bottom: 14px; border-bottom: 1px solid #000; }
.wbnr__select { font-size: 18px; font-weight: 700; color: #000; line-height: 26px; border: 0; padding-right: 19px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('../images/icons/select-icon.png') no-repeat 100% 50%/12px auto; outline: none; cursor: pointer; }
.wbnr__scroll { overflow: hidden; position: relative; }
.wbnr__scroll::after { content: ''; display: block; width: 36px; height: 48px; background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);; position: absolute; top: 50%; right: 0; transform: translateY(-50%); z-index: 2; }
.wbnr__list { flex: 1; display: flex; align-items: center; -ms-overflow-style: none; scrollbar-width: none;  position: relative; }
.wbnr__list::-webkit-scrollbar { display: none; }
.wbnr__item { display: flex !important; align-items: center; justify-content: center; width: 40px !important; min-width: 40px !important; height: 40px !important; font-size: 13px; font-weight: 700; line-height: 19px; border-radius: 50%; cursor: pointer; transition: all .3s; }
.wbnr__item:hover { opacity: 0.4; border: 1px solid #000; }
.wbnr__item--focused { border: 1px solid #000; }
.wbnr__slide { position: relative; padding-top: 20px; }
.wbnr-con { height: 520px; overflow: hidden; position: relative; }
.wbnr-con::before { content: ''; display: block; width: 1px; height: 100%; background: #E0E0E0; position: absolute; top: 7px; left: 2px; }
.wbnr-con::after { content: ''; display: block; width: 100%; height: 100px; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%); position: absolute; bottom: 0; left: 0; z-index: 2; }
.wbnr-con__list { display: flex; flex-direction: column; gap: 40px; height: 100%; padding-left: 15px; overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none; padding-bottom: 50px; }
.wbnr-con__list::-webkit-scrollbar { display: none; }
.wbnr-con__link { display: block; width: 100%; position: relative; transition: all .3s; }
.wbnr-con__link::before { content: ''; display: block; width: 6px; height: 6px; background: #000; border-radius: 50%; position: absolute; top: 8px; left: -15px; }
.wbnr-con__link:hover::before { background: #457FEE; }
.wbnr-con__link:hover .wbnr-con__date { opacity: 0.6; }
.wbnr-con__link:hover .wbnr-con__fig { opacity: 0.6; }
.wbnr-con__date { display: flex; align-items: center; gap: 6px; font-weight: 500; font-size: 12px; line-height: 17px; margin-bottom: 20px; transition: all .3s; }
.wbnr-con__dday { display: flex; align-items: center; line-height: 1; font-weight: 700; color: #457FEE; background: rgba(69, 127, 238, 0.12); border-radius: 15px; padding: 3px 6px; }
.wbnr-con__dday--red { color: #EE4545; background: rgba(238, 69, 69, 0.12); }
.wbnr-con__fig { display: flex; gap: 16px; transition: all .3s; }
.wbnr-con__cap { display: flex; flex-direction: column; }
.wbnr-con__tit { font-weight: 700; font-size: 16px; line-height: 23px; margin-bottom: 6px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.wbnr-con__time { font-size: 12px; line-height: 17px; color: #888; margin-bottom: 18px; }
.wbnr-con__hash { font-size: 12px; line-height: 1.4; font-weight: 500; color: #457FEE; }
.wbnr-con__img { display: block; width: 106px; height: 86px; object-fit: cover; border-radius: 10px; background: #d9d9d9; }

/* VOD BOX */
.vodbox { background: linear-gradient(180deg, #000000 0%, #282828 100%); }
.vodbox__inner { max-width: 1320px; padding: 60px 20px; margin: 0 auto; }
.vodbox__top { display: grid; grid-template-columns: 1fr 318px; column-gap: 43px; }
.vodbox__vd { flex: 1; height: 512px; border-radius: 14px; overflow: hidden; position: relative; }
.vodbox__cover { display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); position: absolute; top: 0; left: 0; z-index: 2; }
.vodbox__vd iframe { width: 100%; height: 100%; }
.vodbox__thum { display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; z-index: 1; }
.vodbox__play { display: block; width: 60px; height: 60px; border: 2px solid #fff; border-radius: 50%; background: rgba(0,0,0,0.6); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 3; padding: 0; margin: 0; cursor: pointer; }
.vodbox__play img { display: block; width: 20px; height: 28px; margin-left: 3px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.vodbox__time { display: flex; flex-direction: column; }
.vodbox__tit { font-size: 24px; font-weight: 700; line-height: 35px; color: #fff; margin-bottom: 25px; }
.vodbox__con { flex: 1; max-height: 455px; position: relative; overflow: hidden; padding-left: 2px; }
.vodbox__scroll { height: 100%; padding-left: 17px; overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none; }
.vodbox__scroll::-webkit-scrollbar { display: none; }
.vodbox__con::before { content: ''; display: block; width: 1px; height: 100%; background: rgba(255,255,255,0.14); position: absolute; top: 12px; left: 3.5px; }
.vodbox__con::after { content: ''; display: block; width: 100%; height: 93px; background: linear-gradient(162.31deg, rgba(26, 26, 26, 0.7) 8.02%, rgba(30, 30, 30, 0.7) 62.81%); position: absolute; bottom: 0; left: 0; z-index: 2; }
.vodbox__list { display: flex; flex-direction: column; gap: 3px; padding-bottom: 93px; }
.vodbox__link { display: flex; align-items: center; justify-content: space-between; padding: 7px 14px; border-radius: 5px; position: relative; font-size: 14px; font-weight: 700; line-height: 1.4; color: #8B8B8B; transition: all 0.3s; }
.vodbox__link::before { content: ''; display: block; width: 100%; height: 100%; background: #5b5b5b; opacity: 0; transition: all 0.3s; position: absolute; top: 0; left: 0; border-radius: 5px; }
.vodbox__link::after { content: ''; display: block; width: 5px; height: 5px; border-radius: 50%; background: #A0A0A0; position: absolute; top: 12px; left: -17px; }
.vodbox__link:hover { color: #fff; }
.vodbox__link:hover::before { opacity: 0.2; }
.vodbox__link:hover::after { background: #6D9FFF; }
.vodbox__link span { position: relative; z-index: 2; }
.vodbox__name { grid-column: 1 / 3; font-size: 30px; font-weight: 700; line-height: 1.4; color: #fff; padding: 30px 0 20px; }
.vodbox__desc { grid-column: 1 / 3; border: 1px solid #7e7e7e; background: #353535; border-radius: 14px; padding: 20px; font-size: 14px; line-height: 1.6; color: #fff; }

/* VOD Q&A */
.vodqna { padding: 60px 0; }
.vodqna__con { padding: 22px 0 30px 0; border-bottom: 1px solid #e0e0e0; }
.vodqna__form { display: flex; flex-direction: column; height: 150px; border: 1px solid #e0e0e0; border-radius: 14px; padding: 30px 100px 30px 30px; position: relative; }
.vodqna__name { font-size: 16px; font-weight: 700; line-height: 23px; margin-bottom: 15px; }
.vodqna__btn { display: block; width: 50px; height: 50px; border-radius: 50%; border: 0; padding: 0; background: #457FEE; position: absolute; bottom: 30px; right: 30px; cursor: pointer; transition: all 0.3s; }
.vodqna__btn:hover { opacity: 0.6; }
.vodqna__btn img { display: block; width: 19px; height: 16px; object-fit: contain; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.vodqna__textarea { flex: 1; font-size: 14px; font-weight: 500; line-height: 1.4; border: 0; outline: none; resize: none; }
.vodqna__textarea::placeholder { color: #a9a9a9; }
.reply { overflow: hidden; position: relative; }
.reply::after { content: ''; display: block; width: 100%; height: 74px; background: linear-gradient(162.31deg, rgba(255, 255, 255, 0) -34.53%, rgba(255, 255, 255, 0.7) 53.25%); position: absolute; bottom: 0; left: 0; z-index: 2; }
.reply__scroll { height: 100%; overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none; }
.reply__scroll::-webkit-scrollbar { display: none; }
.reply__list { padding: 30px 0; }
.reply__box { border: 1px solid #e0e0e0; border-radius: 14px; margin-bottom: 10px; position: relative; transition: all 0.3s; }
.reply__box:hover { border: 1px solid #000; }
.reply__box:hover .reply__link { opacity: 0.6; }
.reply__link { display: flex; align-items: center; justify-content: space-between; gap: 30px; padding: 23px 30px; transition: all 0.3s; }
.reply__txt { flex: 1; display: flex; gap: 15px; }
.reply__txt i { display: inline-block; font-size: 20px; font-weight: 700; line-height: 29px; color: #457FEE; }
.reply__txt i.gray { color: #BBBBBB; }
.reply__txt span { display: inline-block; font-weight: 700; line-height: 23px; padding-top: 5px; }
.reply__user { display: flex; align-items: center; }
.reply__name { display: inline-block; font-size: 14px; font-weight: 700; line-height: 20px; color: #222; }
.reply__time { display: inline-block; font-size: 14px; line-height: 20px; color: #a9a9a9; margin-left: 24px; position: relative; }
.reply__time::before { content: ''; display: block; width: 4px; height: 4px; border-radius: 50%; background: #e0e0e0; position: absolute; top: 50%; left: -14px; transform: translateY(-50%); }
.reply-sub__item { padding-left: 90px; }
.reply-sub__item .reply__box { background: #FAFAFA; }
.reply-sub__item .reply__box:hover { background: #fff; }
.reply-sub__item .reply__box::before { content: ''; display: block; width: 22px; height: 26px; background-image: url('../images/icons/reply-arrow-icon.png'); background-size: contain; background-repeat: no-repeat; position: absolute; top: 50%; right: calc(100% + 14px); transform: translateY(-50%); }
.reply__contents { padding-top: 2px; font-size: 14px; line-height: 1.5; color: #666; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.reply__img { display: block; width: 24px; height: 24px; border-radius: 50%; object-fit: cover; margin-right: 6px; }

@media (max-width: 1200px) {
   #main { padding-top: 122px; }
   .aside { display: none; }
   .contents__left { max-width: unset; padding-right: 0; }
}
@media (max-width: 768px) {
   .title__icon { width: 4px; height: 20px; }
   .title__txt { font-size: 20px; line-height: 29px; }
   .title__link { position: absolute; bottom: 0; right: 0; }
   .tag { gap: 4px; }
   .tag__link { font-size: 11px; line-height: 16px; padding: 2px 7px; }
   .morebox { display: none; }

   .info__top { gap: 6px; }
   .info__state { font-size: 12px; line-height: 17px; letter-spacing: 0; padding: 6px 16px; }
   .info__state span { padding: 0; }
   .info__tit { font-size: 22px; line-height: 32px; }
   .info__intrs { gap: 6px; }
   .info__heart { width: 11px; }
   .info__intrs-count { font-size: 14px; }
   .banner { flex-direction: column; height: auto; gap: 10px; margin-bottom: 20px; }
   .banner__list { width: 100%; height: 420px; }
   .video { flex: unset; width: 100%; height: auto; }
   .video::after { content: ''; display: block; padding-bottom: 58.75%; }
   .keyword__list { gap: 8px; padding-bottom: 20px; }
   .keyword__link { font-size: 12px; line-height: 17px; padding: 7px 18px; }

   .calendar { padding-top: 18px; padding-bottom: 10px; border-bottom: 1px solid #000; }
   .calendar__select { font-size: 22px; line-height: 32px; }
   .calendar__item { font-size: 13px; line-height: 19px; width: 48px; min-width: 48px; height: 48px; }
   .schdl__inner { padding: 0 20px; }
   .schdl__con { padding-top: 0;  height: 540px; }
   .schdl__con::before { width: 1px; height: 100%; top: 29px; left: 2px; }
   .schdl__con::after { width: 100%; height: 100px; background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 0.9) 100%); top: unset; bottom: 0; }
   .schdl__list { flex-direction: column; position: relative; top: 0; left: 0; padding: 0 0 50px 13px; margin: 20px 0; gap: 38px; height: 100%; overflow-y: auto;}
   .schdl__link { padding-top: 0; min-width: unset; max-width: unset; width: 100%; }
   .schdl__link:hover { padding-top: 0; }
   .schdl__link::before { top: 8px; left: -13px; }
   .schdl__date { margin-bottom: 24px; }
   .schdl__fig { justify-content: space-between; }
   .schdl__tit { font-size: 16px; line-height: 23px; }
   .schdl__img { width: 150px; height: 120px; }
   .schdl__prev { display: none; }
   .schdl__next { display: none; }

   .qna { position: relative; padding-bottom: 38px; }
   .qna__list { grid-template-columns: 1fr; }
   .qna__tit { font-size: 14px; gap: 10px; margin-bottom: 12px; }
   .qna__tit a { padding-top: 2px; }
   .qna__icon { font-size: 18px; line-height: 26px; }
   .qna__icon2 { font-size: 18px; line-height: 26px; }
   .qna__txt { font-size: 12px; }
   .qna__count img { width: 13px; height: 13px; }

   .qstn__block { padding: 13px 126px 13px 20px; }
   .qstn__tit { max-width: 174px; font-size: 16px; line-height: 1.8; }
   .qstn__tit span::before { height: 8px; bottom: 3px; }
   .qstn__bg { width: 126px; height: 100px; right: 10px; }

   .free { position: relative; padding-bottom: 38px; }
   .free__list { grid-template-columns: 1fr; }
   .free__item { padding: 16px 20px 20px; }
   .free__tit { margin-top: 8px; font-size: 14px; line-height: 1.6; margin-bottom: 10px; }

   .vod { position: relative; padding-bottom: 38px; }
   .vod__list { grid-template-columns: 1fr 1fr; }
   .vod__item { padding-top: 62%; }
   .vod__top { height: auto; }
   .vod__top::after { content: ''; display: block; padding-bottom: 57%; }
   .vod__thum { position: absolute; top: 0; left: 0; }
   .vod__tit { font-size: 14px; margin-bottom: 8px; }

   .srchbx__form { height: 50px; padding: 11px 45px 11px 20px; }
   .srchbx__btn { right: 20px; }
   .tagify__tag>div>* { font-size: 11px !important; line-height: 21px; margin-right: 5px; }
   .srchbx__input { font-size: 12px; }
   .tagify { gap: 8px; }
   .tagify__input { min-width: unset !important; overflow: hidden; }
   .tagify__tag { padding: 0 8px; }
   .srchbx__list { gap: 8px; padding-top: 20px; }
   .srchbx__link { padding: 7px 18px; font-size: 12px; line-height: 17px; }
   .srchbx__link--gray { padding: 0; width: 32px; height: 32px; }

   .vodbox__top { grid-template-columns: 1fr; }
   .vodbox__vd { height: auto; }
   .vodbox__vd::before { content: ''; display: block; padding-bottom: 58.75%; }
   .vodbox__vd iframe { position: absolute; top: 0; left: 0; }
   .vodbox__tit { font-size: 18px; line-height: 1.4; margin-bottom: 10px; }
   .vodbox__con { flex: unset; height: 110px; max-height: unset; margin-bottom: 20px; }
   .vodbox__con::before { display: none; }
   .vodbox__con::after { height: 24px; background: linear-gradient(162.31deg, rgba(27, 27, 27, 0.32) 8.02%, rgba(27, 27, 27, 0.8) 56.32%);}
   .vodbox__scroll { padding-left: 0; }
   .vodbox__list { padding-bottom: 24px; }
   .vodbox__link { font-size: 12px; padding: 8px 16px; }
   .vodbox__link::after { display: none; }
   .vodbox__name { grid-column: 1 / 2; grid-row: 2 / 3; padding: 14px 0 20px; font-size: 20px; }
   .vodbox__desc { grid-column: 1 / 2; padding: 16px; font-size: 12px; }

   .vodqna__con { padding: 0; padding-top: 18px; border: 0; }
   .vodqna__form { padding: 20px 65px 20px 20px; }
   .vodqna__name { font-size: 14px; line-height: 20px; margin-bottom: 8px; }
   .vodqna__textarea { font-size: 12px; }
   .vodqna__btn { width: 38px; height: 38px; bottom: 20px; right: 20px; }
   .vodqna__btn img { width: 15px; height: 12px; }
   .reply__list { padding: 10px 0; }
   .reply__link { padding: 16px; flex-direction: column; gap: 12px; align-items: flex-start; }
   .reply__txt { gap: 10px; }
   .reply__txt i { font-size: 18px; line-height: 26px; }
   .reply__txt span { font-size: 14px; line-height: 1.4; padding-top: 4px; }
   .reply__user { justify-content: flex-end; width: 100%; }
   .reply__name { font-size: 12px; line-height: 17px; }
   .reply__time { font-size: 12px; line-height: 17px; margin-left: 20px; }
   .reply__time::before { left: -10px; }
   .reply__img { width: 18px; height: 18px; }
   .reply-sub__item .reply__box::before { width: 16px; height: 20px; right: calc(100% + 10px); }
   .reply-sub__item { padding-left: 36px; }
   .reply__contents { font-size: 12px; }
}